body{
    background-color: grey;
}

 #tabs{font-size: 14px;}
         .ui-widget-header {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }

 li{

 	float: left;
 	margin-left: 10px;
 }
 
#contact label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

#contact div{
    margin-top: 1em;
}
textarea{
    vertical-align: top;
    height: 5em;
}
.error{
    display: none;
    margin-left: 10px;
}   
.error_show{

    color: red;
    margin-left: 10px;
}
.attr{
    
     display: inline;
    float : left;
    margin-left: 10px;
    margin-top: 10px;
}
 
#tab2form label {
    
    width: 100px;
    font-weight: bold;
    text-align: right;
}
#tab2form div{
    float: left;
    margin-left: 1em;


}